body
{
  background-color: yellow;
}

.header{
  text-align: center;
  padding: 30px;
  background: turquoise;
  }

.footer{
  padding: 30px;
  background: turquoise;
  font-style: italic;
  color: red;
}

.cursive{
  font-family: cursive;
}

img {
  border: 10px solid #ddd;
  border-color: white;
}
